#*
 * Copyright (C) 2019 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *#

#set ($page_symbol = $page_symbol_authenticate_desktop)

#define ($_body)

<form method="post" action="">
    <input type="hidden" name="state" value="$_state" />
    <p>Please approve.</p>
    <p>Do you want to order for $!_price $!_currency?</p>
    <button id="submit-button" type="submit" class="button button-fullwidth $!button_color mt2">OK</button>
</form>
#end

#parse("layouts/default")
